*{
  font-family: monospace;
  font-weight: 400;
}

body{
  padding: 15px;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width:767px){
  body{
      width: 100%;
      padding: 15px;
  }
  
}

a{
  text-decoration: none;
  color: rgb(59 130 246)
}

.blog-head > h1{ 
  font-size: 1.5rem;
  font-weight:bold !important;
}

a:hover{ 
  text-decoration: underline;
}

.projects-list{ 
  display: flex;
  flex-direction: column;
  gap: 15px;
}
 
