*{
  font-family: monospace;
  font-weight: 400;
}

 
@media screen and (min-width: 1024px){
  body{
    padding: 15px;
    width: 800px;
    margin: 0 auto;
    color: red;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

a{
  text-decoration: none;
  color: rgb(59 130 246)
}

.blog-head > h1{ 
  font-size: 1.5rem;
  font-weight:bold !important;
}

a:hover{ 
  text-decoration: underline;
}

.projects-list{ 
  display: flex;
  flex-direction: column;
  gap: 15px;
}
 
