
<header>
    <div class="navbar bg-base-100 p-5 xl:px-24 text-black">
        
        <div class="flex-1 mx-2">
            <div class="dropdown      dropdown-hover">
                
                <label tabindex="0" class="flex inline">
                    <img src="https://avatars.githubusercontent.com/u/65188863?s=400&u=b7d63582957291196c230b21c3672a616d494fb8&v=4" alt="Malik Whitten" class="rounded-full w-8 h-8 ">
                    <a href="#" class="  text-lg  mx-2   bg-black hover:bg-gradient-to-r from-sky-500 to-blue-500  bg-clip-text text-transparent">Malik Whitten</a>
                </label>
                <ul tabindex="0" class="dropdown-content z-[1]     mt-8 shadow bg-base-100 rounded-box xl:w-96 lg:w-96  max-w-md w-[90vw]">
                    
                  <img src="https://github-readme-stats.vercel.app/api?username=Malikwhitten67">
                  <a class="btn btn-ghost btn-sm rounded-btn border border-black mt-2  xl:w-full relative lg:w-full w-full"
                  href="{{github_link}}"
                  >View Profile</a>
                   
                </ul>

         </div>
          
        
      </div>
      <div class="flex-none pr-5">
        <a href="#/projects">Projects</a>
     </div>
</header>
<export>
    header
</export>