${
document.title = "Malik Whitten - About Me", ""
}
<div class="p-2 justify-center hero  mx-auto flex flex-col">
    <div class=" p-5  w-full  xl:w-[40vw] rounded-md  ">
        <div class=" text-md text-start  items-start  flex flex-col">
            <h1 class="font-semibold font-sans text-4xl"><span class="mr-1 opacity-50">#</span>About Me</h1>
            <div class="flex flex-row gap-5">
                <p class="text-md mt-2 opacity-50">
                    Last Edited 9/23/2023 - 10:50 PM
                </p>
            </div>
        </div>
        <div class="card-body p-0 mt-12">
            <p class="p-0 text-2xl font-semibold">
                👋 Malik Whitten
            </p>

            <p class="mt-2 prose">
                16yo Junior - Full Stack Web developer & software engineer
            </p>

            <p>
                I have a passion for building apps/tools that help enhance the lives of others. I am self taught, and
                have been embarking on my journey for 3 years now. I am homeschooled but also I am currently attending
                <span class="tooltip tooltip-primary" data-tip="North Tech HighSchool">
                    ( <a href="https://www.ssdmo.org/northtech" target="_blank" class="link text-blue-500">North Tech
                        High</a> )
                </span>
                - In which I am studying Computer Programming.
            </p>

            <h1 class="text-2xl mt-8 font-semibold"><span class="mr-1 opacity-50">#</span>Recent Projects</h1>
            <figure class="mt-2 tool">
                <a href="https://github.com/Postr-Inc/Postr-Pwa" target="_blank"
                    class="text-lg text-primary font-semibold link">Postr -
                    Open Source Social Media</a>
                <figcaption class="mt-1">
                    Postr is one of my golden projects, I have been working on it for a year now - has been under 4-5
                    revisions. It is a social media platform similar to twitter, meta threads and Instagram. Difference
                    is that
                    everything used to build it is open sourced, and it is centralized. Which means that you can host
                    your own instance, but also own your own data and have full control over it.
                </figcaption>
            </figure>

            <figure class="mt-2">
                <a href="https://github.com/MalikWhitten67/html-dox" target="_blank"
                    class="text-lg text-primary font-semibold link capitalize">Html Dox - a sequential dom lib</a>

                <figcaption class="mt-1">
                    Html dox - was my first attempt at creating a full-fledged framework, aimed to enhance the
                    development experience of building vanilla large-scale web apps.
                    It operates sequentially in a way that makes templating fast, each component is a functional
                    function similar to react but without the virtual dom. It also has type-checking markdown parsing
                    and emoji parsing built into the
                    templating engine.
                </figcaption>
            </figure>

            <figure class="mt-2">
                <a href="https://github.com/Postr-Inc/Vader.js" target="_blank"
                    class="text-lg text-primary font-semibold link">Vader.js</a>
                <figcaption class="mt-1">
                    Vader.js is a supplement to dox, only it aims to provide similar functionality to <span
                        class="text-blue-500 underline">React.js</span> for vanilla js.
                    It does not have a vendor and acts as a supplement, but it provides a cohesive experience for
                    building semi-large-scale web apps, that require a lot of reactivity.
                    <span class="text-rose-500 underline">"Did you know - that this website is built with
                        vader.js?"</span>
                </figcaption>
            </figure>

            <figure class="mt-2">
                <a href="https://github.com/MalikWhitten67/ReduxEngine" target="_blank"
                    class="text-lg text-primary font-semibold link">Redux Engine <span
                        class="badge badge-ghost mx-2">New!</span></a>
                <figcaption class="mt-1">
                    Redux Engine, is a html5 game engine without canvas. It uses CSS and HTML to render the game and
                    provide functionality with JS. It aims to make game development on the web a lot easier
                    and is highly performant. It still is under development but has slowly been making progress. - What
                    works? keyboard mouse gamepad input - entity rendering, UI rendering using views similar to vader.js
                    - Reactive state management with scenes.
                </figcaption>
            </figure>

            <div class="">
                <h1 class="text-2xl mt-8 font-semibold"><span class="opacity-50">#</span> Skills</h1>

                <div class="flex flex-col gap-2 mt-2">

                    <div class="flex flex-row gap-2">
                        <div class="flex flex-col gap-1">
                            <p class="font-semibold">Languages</p>
                            <div class="flex flex-row gap-2">
                                <span class="badge bg-blue-100">Javascript</span>
                                <span class="badge bg-blue-100">Html</span>
                                <span class="badge bg-blue-100">Css</span>
                                <span class="badge bg-blue-100">C#</span>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-row gap-2">
                        <div class="flex flex-col gap-1 flex-wrap  ">
                            <p class="font-semibold mb-2">Frameworks</p>
                            <div class="flex flex-row flex-wrap gap-2">
                                <span class="badge bg-blue-100">React.js</span>
                                <span class="badge bg-blue-100">Vader.js</span>
                                <span class="badge bg-blue-100">Node.js</span>
                                <span class="badge bg-blue-100">Express.js</span>
                                <span class="badge bg-blue-100">Tailwind.css</span>
                                <span class="badge bg-blue-100">Bootstrap</span>
                                <span class="badge bg-blue-100">Daisui.css</span>
                                <span class="badge bg-blue-100">Astro.js</span>
                                <span class="badge bg-blue-100 flex w-24">HTML DOX</span>
                                <span class="badge bg-blue-100">Svelte.js</span>
                                <span class="badge bg-blue-100">Vue.js</span>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-row gap-2">
                        <div class="flex flex-col gap-1">
                            <p class="font-semibold mb-2">Tools</p>
                            <div class="flex flex-row gap-2">
                                <span class="badge bg-blue-100">Git</span>
                                <span class="badge bg-blue-100">Github</span>
                                <span class="badge bg-blue-100">Gitlab</span>
                                <span class="badge bg-blue-100">Vercel</span>
                                <span class="badge bg-blue-100">Cloudflare</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>