<div class="flex mt-12 p-5 justify-center w-screen mx-auto font-sans">
    <div class="flex flex-col gap-5">
        <h1 class="text-4xl font-semibold">👋 Hello My Name Is Malik!</h1>
        <p class="font-thin text-xl mx-2 text-gray-400">
            I am a full stack web dev / software engineer based in the US!
        </p>
        <div class="flex flex-row gap-5   ">
            <a href="https://github.com/MalikWhitten67" target="_blank"
                class="btn btn-primary btn-sm btn-ghost border border-slate-200 shadow hover:bg-transparent capitalize flex flex-row hover:border-slate-200">

                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="w-5 h-5">
                Github
            </a>
            <button
                class="btn btn-primary btn-sm btn-ghost border border-slate-300 shadow hover:bg-transparent text-blue-500 capitalize flex flex-row hover:border-slate-300">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-1">
                    <path
                        d="M18.3362 18.339H15.6707V14.1622C15.6707 13.1662 15.6505 11.8845 14.2817 11.8845C12.892 11.8845 12.6797 12.9683 12.6797 14.0887V18.339H10.0142V9.75H12.5747V10.9207H12.6092C12.967 10.2457 13.837 9.53325 15.1367 9.53325C17.8375 9.53325 18.337 11.3108 18.337 13.6245V18.339H18.3362ZM7.00373 8.57475C6.14573 8.57475 5.45648 7.88025 5.45648 7.026C5.45648 6.1725 6.14648 5.47875 7.00373 5.47875C7.85873 5.47875 8.55173 6.1725 8.55173 7.026C8.55173 7.88025 7.85798 8.57475 7.00373 8.57475ZM8.34023 18.339H5.66723V9.75H8.34023V18.339ZM19.6697 3H4.32923C3.59498 3 3.00098 3.5805 3.00098 4.29675V19.7033C3.00098 20.4202 3.59498 21 4.32923 21H19.6675C20.401 21 21.001 20.4202 21.001 19.7033V4.29675C21.001 3.5805 20.401 3 19.6675 3H19.6697Z">
                    </path>
                </svg>
                Linkedin

            </button>

            <button
                class="btn btn-primary btn-sm btn-ghost border border-slate-300   items-center shadow hover:bg-transparent capitalize flex flex-row text-gray-500 hover:border-slate-300"
                onclick="window.open('mailto:malikwhitterb@gmail.com')">
                <img src="/public/icons/email.svg" class="w-5 h-5">
                <p>Email</p>
            </button>
        </div>
        <h1 class="font-semibold mt-2">My Projects</h1>
        <div class="card w-full bg-base-100 relative  border-slate-200 rounded-[5px] shadow border">
            <div class="card-body p-2 lg:p-5 md:p-5">
                <div class="flex flex-row gap-4">

                    <div class="flex flex-col gap-1 ">
                        <div class="flex flex-row gap-5">
                            <h2 class="card-title">
                                <img src="https://postr-inc.me/icons/logo.png" class="w-8 ">
                            </h2>
                            <p class="font-semibold capitalize font-sans text-md">Postr - open sourced social media
                                <span class="badge border border-slate-300">v6.0.4</span>


                            </p>

                        </div>

                        <div
                            class=" absolute end-2 btn btn-sm bg-transparent border border-slate-200 hover:bg-gray-100">
                            <a href="https://postr-inc.me/download">
                                <img src="/public/icons/arrow.svg" class="w-5 h-5">
                            </a>
                        </div>
                        <p class="font-sans text-sm opacity-50 mt-2">Powered by astro tailwind and daisyui</p>

                    </div>

                </div>

            </div>
        </div>
        <div class="card w-full bg-base-100 relative  border-slate-200 rounded-[5px] shadow border">
            <div class="card-body md:p-5 lg:p-5 p-2">
                <div class="flex flex-row gap-2">

                    <div class="flex flex-col gap-1">
                        <div class="flex flex-row">
                            <p class="font-semibold  font-sans text-md capitalize">ReduxEngine
                                - performant css and html game engine
                                <span class="badge border border-slate-300">v1.0.1</span>

                            </p>

                        </div>
                        <div
                            class="absolute end-2 btn btn-sm bg-transparent border border-slate-200 bottom-2 hover:bg-gray-100">
                            <a href="https://github.com/MalikWhitten67/ReduxEngine">
                                <img src="/public/icons/arrow.svg" class="w-5 h-5">
                            </a>
                        </div>
                        <p class="font-sans text-sm opacity-50">Lightweight game engine with modularity</p>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>