<div class="flex flex-row bg-base-100  p-5 justify-center mx-auto items-center ">
    <div class="flex-none">
        <div class="flex flex-row gap-5">
            <img src="/public/images/pfp.webp"
            class="rounded-full w-6 h-6 avatar"
            >
            <p class="  ">Malik Whitten</p>
          </div>
   
      </div>
    <div class="flex-1">
      
   
    </div>
    
    <div class="flex-none">
      <ul class="menu menu-horizontal ">
       
           
        <li
        class="  p-2 bg-transparent"
        ><a
        class="flex flex-row    text-start "    
        > 
          <img src="/public/icons/account_icon.svg" class="w-5 h-5">
           
          About Me
        </a>
        </li>
      </ul>
    </div>
</div>
